
body {
  padding-top: 4.5rem;
  background-color: #e8edeb;
}

.cursiva {
  font-style: italic;
}

.blanco {
  color: #fff !important; 
} 

/* HEADER */
.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}

.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

/* LEAFLET */
.leaflet-tooltip {
	min-width: 38px !important;
  min-height: 20px !important;
  width: 38px !important;
  height: 20px !important;   
  padding: 0px !important;
}

#iw-container {
	margin-bottom: 0px !important;
	width:281px !important;
}

.iw-title {
	font-size: 12px;
	font-weight: bold;
	padding: 10px;
	background-color: #333333;
	color: white;
	margin: 0;
	border-left: 8px solid #ffcd28;
}

.iw-content p {
  line-height: 1.8em;
}

#iw-container .iw-content {
  max-width: 281px !important;
  width: 281px;
}

#iw-container ul li {
	display: inline;
	margin-right: 10px;
}